@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BMPC Music Library</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to BMPC Music Library</h2>
        <p>
            BMPC (Bryn Mawr Presbyterian Church) Music Library is an application for 
            keeping track of the church choir music we have in our inventory. It is 
            also a tool to help in repertoire planning and history tracking for the 
            BMPC Church Choir.
        </p>
    </div>
    <div class="col-md-4">
        <h2>About this project</h2>
        <p>I have found it very challenging to choose repertoire as a choir director.
        Music companies seem more intent on selling new literature than great literature.
        This project is my attempt to wade through all of the "noise" and more regularly 
        select higher quality music.</p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from Github.</p>
        <p><a class="btn btn-default" href="https://github.com/dhartjes/BMPCMusicLibrary">Download &raquo;</a></p>
    </div>
</div>